body {
    background-color: grey;
    padding-top: 8em;
}
button {
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    height: 26em;
    width: 44em;
    padding: 1em;
    display: block;
    margin: auto auto;
}
p {
    font-size: 7em;
}